.input-group .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 143, 163, 0.25);
    border-color: var(--color-primario);
}
.input-group .btn {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
}

.tarjeta-libro {
    cursor: pointer;
    border-radius: 12px;
    box-shadow: var(--sombra-suave);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tarjeta-libro:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.tarjeta-libro img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.info-tarjeta-libro {
    padding: 0.75rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.titulo-libro {
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.autor-libro {
    font-size: 0.8rem;
    color: var(--color-texto-secundario);
    margin-bottom: 0.5rem;
    flex-grow: 1;
}

.detalles-libro {
    font-size: 0.75rem;
    color: var(--color-texto-secundario);
    display: flex;
    justify-content: space-between;
}